<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie-edge">
    <title>Coding Dojo Message Board Assignment</title>
  </head>
  <body>
    <h2>The Dojo Message Board</h2>
    <form action="/message" method = "post">
      <label for="name">Name:</label>
      <input type="text" name=name> <br><br>
      <label for="Message">Message</label>:
      <textarea name="message"></textarea> <br><br>
      <input type="submit" value="Post Message!">
    </form>

    <%for(var x of m){%>
        <h2>Name: <%=x.name%></h2>
        <h2>Comment: <%=x.message%></h2>
        <%for(var y of x._comments){%>
            <h3>Name: <%= y.name%></h3>
            <h3>Comment: <%= y.text%></h3>
            <br>
        <%}%>

         <form action='/comment/<%= x._id %>' method="post">
           <p>Name: </p><input type="text" name="name">
           <p>Comment: </p><textarea class="comment_text"name="comment"></textarea>
           <input type="submit" value="Post comment">
         </form>
       <% } %>

</body>

  </body>
</html>
